
@media only screen and (max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
        align-items: center;
    }
    .main p{
  width: 25rem;

    }
    .logo {
      font-size: .88rem;
      font-weight: 800;
    }
  
    header {
        padding: 0.7rem 1rem;
        align-items: center;
        width: 60%; 
    }
  
    nav {
        position: absolute;
        display: grid;
        top: 75px;
        width: calc(100% - 40px);
        text-align: center;
        background-color:rgb(41, 40, 43);
        left: 100%;
    }
  
    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }
  
    section {
        margin: 1rem 1.5rem;
    }
  
  }
@media only screen and (max-width: 1024px) {
    html {
        font-size: 80%;
    }
  }
  
@media only screen and (max-width: 480px) {

    section {
        margin:1rem 1.5rem;
    }
    .images {
        min-width: 15em;
    }
.images2{
  min-width: 15em;

}
    .blue-bg-outer {
        width: 20em;
        height: 20em;
        margin: auto;

    }

    .white-bg {
        width: 16.875em;
        height: 16.875em;
    }

    .blue-bg {
        width: 12.75em;
        height: 12.75em;
    }

}
@media only screen and (max-width:480px) {
    .about {
        display: block;
        font-weight: bold;
        align-items: center;
  
    }
  
    .about-text {
      margin-bottom: 2rem;
      padding-left:0%;
      max-width: 100%;
    }
  }

@media only screen and (max-width: 320px) {
    .images {
        height: 17em;
    }
    .blue-bg-outer {
        width: 16em;
        height: 16em;

    }

    .white-bg {
        width: 13em;
        height: 13em;
    }

    .blue-bg {
        width: 11em;
        height: 11em;
    }

    .blue-bg img {
        position: relative;
        bottom: 15px;
        right: 10px;
        width: 100%;
    }
}
@media only screen and (max-width:480px) {
    .services {
        display: grid;
        font-weight: bold;
        align-items: center;
  
    }
    .services-list {
      display: grid;
      grid-template-columns: 100%;
      grid: 5rem;
      padding-left: 0.5rem;
      padding-bottom: 10%;
    }
  
  }
  @media only screen and (max-width:480px) {
    .main-text{
      display: grid; 
      padding: 130px;
      margin-top: 200px;
      padding-top: 5%;
      padding-left: 0;
    }
    .main-text h2{
      margin-bottom: 2rem;
    font-size: 2.9rem;
  
      text-align: center;
    }
    .portfolio-content{
      display: grid;
      gap: 2rem;
      padding-top: 2rem;
      padding-left: 0;
    }
    .row{
      display: grid;
      position: relative;
      overflow: hidden;
      border-radius: 25px;
      cursor: pointer;
    }
    .row img{
      width: 35rem;
      height: 25rem;
      border-radius: 20px;
      display: grid;
      transition: transform 1.5s;
    }
  }
  
@media only screen and (max-width:480px) {
    .contact{
      display: grid;
      align-items: center;
      grid-template-columns: 100%;
      padding: 10px;
      margin-top: 20px;
      
    }
    
    .contact-text h2{
      font-size: 2.9rem;
      text-align: center;
      padding-right: 39%;
    }
    .last-text p{
      width: 100%;
      text-align: center;
      padding: 25px 0;
      background: rgb(7,85, 91);
      font-weight: 300;
      margin-top: 70px;
    }

    

  }
